<targets>
	<target xsi:type="Console" name="console"
	  layout="${longdate}|${level}|${message}" />
	<target xsi:type="File" name="ErrorLog" fileName="${basedir}/error.txt"
			layout="${longdate}
          Trace: ${stacktrace} 
          ${message}" />
	<target xsi:type="File" name="AccessLog" fileName="${basedir}/access.txt"
			layout="${shortdate} | ${message}" />
</targets>